mss            # для получения координат мыши
opencv-python  # для работы с изображениями
numpy          # для работы с массивами
pyautogui      # для автоматизации действий на компьютере
pytesseract    # для распознавания текста на изображениях
fuzzywuzzy     # для поиска наиболее похожих строк в тексте
